<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles/index.css">
{%block title%}
    
{%endblock%}
</head>
<body>
    <header>
        <div class="header">
            <a href="/"><img src="assets/logo.png" alt=""></a> 
            <a href="sobre">Sobre</a>
            <a href="receitas">Receitas</a>
        </div>
    </header>
    {% block content%}
    {%endblock%}
    
</body>
</html>